//
// Only for common target build settings (Don't put here common project build settings)
//

ASSETCATALOG_COMPILER_APPICON_NAME = DevelopmentAppIcon
CODE_SIGN_ENTITLEMENTS = iOS/BuildConfigs/Development/Development.entitlements
PRODUCT_BUNDLE_IDENTIFIER = com.todolist.development
PRODUCT_NAME = D - ToDoList
SWIFT_ACTIVE_COMPILATION_CONDITIONS = DEVELOPMENT
MARKETING_VERSION = 1.0.0
CURRENT_PROJECT_VERSION = 1
TARGETED_DEVICE_FAMILY = 1
INFOPLIST_FILE = iOS/Info.plist
INFOPLIST_KEY_UIApplicationSupportsIndirectInputEvents = YES
INFOPLIST_KEY_UISupportedInterfaceOrientations = UIInterfaceOrientationLandscapeLeft UIInterfaceOrientationLandscapeRight
INFOPLIST_KEY_UISupportedInterfaceOrientations_iPad = UIInterfaceOrientationLandscapeLeft UIInterfaceOrientationLandscapeRight
INFOPLIST_KEY_UIRequiredDeviceCapabilities = armv7
INFOPLIST_KEY_UILaunchStoryboardName = LaunchScreen
INFOPLIST_KEY_NSCameraUsageDescription = You can take photo of your items and upload onto the system to keep track of them.
INFOPLIST_KEY_NSPhotoLibraryUsageDescription = You can take photo of your items and upload onto the system to keep track of them.
INFOPLIST_KEY_NSLocationWhenInUseUsageDescription = Hello world
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks
SWIFT_EMIT_LOC_STRINGS = YES
GENERATE_INFOPLIST_FILE = NO
CODE_SIGN_STYLE = Automatic
DEVELOPMENT_TEAM = Y534FGFNQR
ASSETCATALOG_COMPILER_GLOBAL_ACCENT_COLOR_NAME = AccentColor
SWIFT_VERSION = 6.0
